*{
    margin: 0;
    padding: 0;
    }
body{
        background: url("../pics/img-about-us/background_tools_drawings_patterns_18527_2560x1440.jpg") no-repeat center center fixed;
        background-size: cover; 
    }
.container{ 
        color: white;
        position: absolute;
        top: 25%;
        left: 40%; 
    }
.container h1{
        font-family: 'Heebo', sans-serif;
        width: 50%;
        display: inline-block;
        font-size: 40px;
        border-bottom: 5px solid rgb(255, 255, 255);
        margin-bottom: 15px;
        padding: 13px 0;
    }
.box{
        width: 100%; 
        margin: 22px 0px;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
.box input{  
        background: none;
        width: 75%;
        padding: 5px 10px;
        font-size: 20px;
        border: none;
        outline:none;
        color: white;
    }
.btn{
        color: rgb(255, 255, 255);
        cursor: pointer;
        outline: none; 
        margin: 12px 0;
        padding: 10px 21px;
        border: 2px solid rgb(247, 164, 247);
        border-radius: 10px;
        font-size: 18px;
        background: none;
        font-weight: bold;
        
    }    
   
.box i{ 
        width: 25px; 
        text-align: center;
    }
.btn:hover{
        opacity: 0.8;
        color: rgba(255, 255, 255, 0.849); 
        background: rgba(7, 7, 7, 0); 
        
    }
