*{
    margin:0;
    padding:0;
}

/* BODY */
body{
    background-image: url(../pics/img-about-us/background_tools_drawings_patterns_18527_2560x1440.jpg);
    height: auto;

}
.main-main .main-index{
    width: 100%;
    height: 150px;
    padding-top: 30px;
    margin-top: 200px;
}
.main-main .main-index h1{
    font-size: 50px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6db;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 991px){
    .main-main .main-index h1{
        font-size: 40px;
        margin-top: 30px;
    }
}

.main-main .services-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". col-1-1 col-1-2 col-1-3 ."
    ". col-2-1 col-2-2 col-2-3 ."
    ;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    background-color: rgba(0,0,0,.2);
    background-size:cover ;
}

@media only screen and (max-width: 768px){
    .main-main{
        background-image: url(../pics/img-about-us/background_tools_drawings_patterns_18527_2560x1440.jpg);
        height: 1050px;
    
    }
    .main-main .services-list{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        ". col-1-1 col-1-2  ."
        ". col-1-3 col-2-1  ."
        ". col-2-2 col-2-3  ."
        ;
        grid-gap: 10px;
        align-items: center;
        justify-items: center;
        background-color: rgba(0,0,0,.2);
        background-size:cover ;
    }
}
.main-main .services-list .image-checkbox{
    height: 200px;
}


.main-main .services-list .col-1-1{

    grid-area: col-1-1;
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,.2);
    background-size:cover ;
    justify-items: center;
    align-items: center;
}
.main-main .services-list .col-1-2{
    grid-area: col-1-2;
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,.2);
    background-size:cover ;
}
.main-main .services-list .col-1-3{
    grid-area: col-1-3;
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,.2);
    background-size:cover ;
}
.main-main .services-list .col-2-1{
    grid-area: col-2-1;
    background-color: rgba(0,0,0,.2);
    background-size:cover ;
    width: 200px;
    height: 200px;
}
.main-main .services-list .col-2-2{
    grid-area: col-2-2;
    background-color: rgba(0,0,0,.2);
    background-size:cover ;
    width: 200px;
    height: 200px;
}
.main-main .services-list .col-2-3{
    grid-area: col-2-3;
    background-color: rgba(0,0,0,.2);
    background-size:cover ;
    width: 200px;
    height: 200px;
}
.services-list .image-checkbox .name{
      margin-top: -80px;
      text-align: center;
}
.services-list .image-checkbox .name p{
    font-size: 25px;
    color: #c6c6db;
}

/* TOGGLE */




.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 25px;
  margin-top: 170px;
  margin-left: 50px;
}
.switch img{
    margin-top: -200px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f06464;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #19af23;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(70px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OCCUPIED';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'AVAILABLE';
}

/*--------- END --------*
/* BUTTON */
.wrapper{
    margin: auto;
    margin-top: 150px;
    width: fit-content;
    height:auto;
}
@media only screen and (max-width: 768px){
    .wrapper{
        margin: auto ;
        /* margin-left: 20%; */
        margin-top: 100px;
    }
}
.wrapper button{
    width:250px;
    height:70px;
    background: linear-gradient(to left top, #1b2e52 50%, #1b2e52 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    margin-inline: 10px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: inline-block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}

blockquote {
    background: rgba(0,0,0,.2);
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

.container-fluid{
    margin: 100px;
}
.container-fluid .row{
    margin: 50px;
}
.container-fluid .row div{
       text-align: center;
}
.container-fluid p{
       color: #fff;
}
.container-fluid h1{
    color: #c6c6db;
}
@media only screen and (max-width: 768px){
    .container-fluid{
        display: none;
    }
    
}






