<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Select your service</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'contact-us.css' %}">
    <link href="{% static 'nav.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/css/footer.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <style>
    body{
    background-image: url({% static 'pics/img-about-us/background_tools_drawings_patterns_18527_2560x1440.jpg' %});
    height: auto;
    background-repeat: repeat-y;

    }
    </style>


</head>

<body>
{% load static %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/services">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/profile">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link notification " href="/serviceman/login/loggedin/notification" id="navbarDropdown" role="button" 
                        aria-expanded="false">
                        Notification
                            <span class="badge">{{len}}</span>
                        </a> 
                         
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/customer/login/loggedin/notification">You Requested  electrecian Ram Das </a></li>
                        
                        <li><a class="dropdown-item" href="/serviceman/">I am Service Provider</a></li>
                        </ul> -->
                        <style>
                        .notification {
                            color: white;
                            text-decoration: none;
                            padding: 15px 26px;
                            position: relative;
                            display: inline-block;
                            border-radius: 2px;
                        }

                        .notification .badge {
                            position: absolute;
                            top: -10px;
                            right: -10px;
                            padding: 5px 10px;
                            border-radius: 50%;
                            background: red;
                            color: white;
                        }
                    </style>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/history">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/donateus">Donate Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/contactus">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/logout">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Custom scripts for this template -->
    <script src="{% static 'nav.js' %}"></script>
    <!-- body -->
  
    <div class="container contact">
      <div class="row">
        <div class="col-md-3">
          <div class="contact-info" style="text-align: center;">
            <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
            <h2>Contact Us</h2>
            <h4>We would love to hear from you !</h4>
          </div>
        </div>
        <div class="col-md-9">
         <form method="POST" action = "/serviceman/login/loggedin/contactus/contact_status" >{% csrf_token %}
          <div class="contact-form">
            <div class="form-group">
              <label class="control-label col-sm-2" for="fname"> Name:</label>
              <div class="col-sm-10">          
              <input type="text" class="form-control" id="fname" placeholder="Enter  Name" name="name1">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email1">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="subject">Subject:</label>
              <div class="col-sm-10">          
              <input type="text" class="form-control" id="subject" placeholder="Enter subject" name="subject1">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="comment">Comment:</label>
              <div class="col-sm-10">
              <textarea class="form-control" rows="5" id="comment" name="comment1"></textarea>
              </div>
            </div>
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- footer     -->
        <footer class="footer">
          <div class="social">
              <a href="https://www.facebook.com/Cynergy-180036667042091" class="facebook" title="Facebook"><img src="{% static 'pics/img-footer/icons8-facebook-48.png' %}"
                alt=""></a>
        <a href="https://www.instagram.com/invites/contact/?i=1xih8njqsuwpu&utm_content=kxk5sio" class="instagram" title="Instagram"><img src="{% static 'pics/img-footer/icons8-instagram-50.png' %}"
                alt=""></a>
        <a href="#" class="email" title="Email"><img src="{% static 'pics/img-footer/icons8-email-48.png' %}" ></a>
        <a href="#" class="github" title="Github"><img src="{% static 'pics/img-footer/icons8-github-90.png' %}"
                alt=""></a>

  
          </div>
          <div id="copy">
              <p class="copy">Copyright © CYNERGY 2021</p>
          </div>
      </footer>
      </div>
  </header>
</body>
</html>