<!DOCTYPE html>
<html>

<head>
{% load static %}
    <title>Select your service</title>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'service-profile.css' %}">
    <link href="{% static 'nav.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/css/footer.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <style>body{
    background-image: url({% static 'pics/img-about-us/background_tools_drawings_patterns_18527_2560x1440.jpg' %});
    height: auto;
    background-repeat: repeat-y;
    padding-bottom: 0 ;

    }</style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#">CYNERGY</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/services">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/profile">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link notification " href="/serviceman/login/loggedin/notification" id="navbarDropdown" role="button" 
                        aria-expanded="false">
                        Notification
                            <span class="badge">{{len}}</span>
                        </a> 
                         
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/customer/login/loggedin/notification">You Requested  electrecian Ram Das </a></li>
                        
                        <li><a class="dropdown-item" href="/serviceman/">I am Service Provider</a></li>
                        </ul> -->
                        <style>
                        .notification {
                            color: white;
                            text-decoration: none;
                            padding: 15px 26px;
                            position: relative;
                            display: inline-block;
                            border-radius: 2px;
                        }

                        .notification .badge {
                            position: absolute;
                            top: -10px;
                            right: -10px;
                            padding: 5px 10px;
                            border-radius: 50%;
                            background: red;
                            color: white;
                        }
                    </style>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/history">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/donateus">Donate Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/contactus">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/serviceman/login/loggedin/logout">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Custom scripts for this template -->
    <script src="{% static 'nav.js' %}"></script>

    <!-- body -->
    <form method = "POST" action="/serviceman/login/loggedin/profile/update"> {% csrf_token %}
    <div class="container profile">
        <div class="row">
            <div class="col-md-4">
                <div class="card user-card">
                    <div class="card-header">
                        <h5>Profile</h5>
                    </div>
                    <div class="card-block">
                        <div class="user-image">
                            <img src="/media/customer/images/images.png" class="img-radius"
                                alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600 m-t-25 m-b-10">{{name}}</h6>
                        <p class="text-muted created"> {{gender}}| Created on {{date}}</p>
                        <p class="text-muted created"> {{primaryjob}} | {{secondaryjob}}</p>
                        <p class="text-muted created"> Rating : {{rating}}</p>
                        <hr>


                        <p class="m-t-15 text-muted email">Email ID:{{email}}</p>
                        <p class="m-t-15 text-muted phone">Phone: {{phoneno}}</p>
                        <p class="m-t-15 text-muted address">Address: {{address}}, {{city}}</p>
                        <p class="m-t-15 text-muted address">State:{{state}}</p>
                        <p class="m-t-15 text-muted address">Country: India</p>
                        <hr>
                        <div class="mt-5 text-right" id="profile"><button class="btn btn-primary profile-button" type="button">
                            <a style="color: white; text-decoration: none;" href="#edit-profile"> Edit
                            Profile</a></button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 toggle" id="edit-profile" style="display: none;">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back"><i
                                class="mr-1 mb-1"></i>
                            <div id="back"><a href="#edit-profile" style="text-decoration: none; color:  white;"> ← Back </a></div>
                        </div>
                        <h6 class="text-right">Edit Profile</h6>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><input type="text" name="name1" class="form-control" placeholder="name"
                                value="{{name}}"></div>
                        <div class="col-md-6"><input type="password" name= "password1" class="form-control" value="{{password}}" placeholder="Password">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><select class="custom-select" name = "primaryjob">
                            <option selected>{{primaryjob}}</option>
                            <option value="Carpenter">Carpenter</option>
                            <option value="Electrician">Electrician</option>
                            <option value="Plumber">Plumber</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Technician">Technician</option>
                          </select></div>
                        <div class="col-md-6"><select class="custom-select" name= "secondaryjob">
                            <option selected>{{secondaryjob}}</option>
                            <option value="Carpenter">Carpenter</option>
                            <option value="Electrician">Electrician</option>
                            <option value="Plumber">Plumber</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Technician">Technician</option>
                          </select></div>
                            
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" name="email1" class="form-control" placeholder="Email"
                                value="{{email}}"></div>
                        <div class="col-md-6"><input type="text" name="phoneno1" class="form-control" value="{{phoneno}}"
                                placeholder="Phone number"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" name="address1" class="form-control" placeholder="address"
                                value="{{address}}"></div>
                        <div class="col-md-6"><input type="text" name="city1" class="form-control" value="{{city}}" placeholder="CIty">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" name="state1" placeholder="State"
                                value="{{state}}"></div>
                        <div class="col-md-6"><select class="custom-select" name="gender1">
                            <option selected>{{gender}}</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                          </select></div>
                    </div>
                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Save
                            Profile</button></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div></form>

    <!-- javascript -->
    <script>
        $("#profile a").click(function(e){
        e.preventDefault();
        $(".toggle").hide();
        var toShow = $(this).attr('href');
        $(toShow).show();
    });
        $("#back a").click(function(e){
        e.preventDefault();
        // $(".toggle").show();
        var toHide = $(this).attr('href');
        $(toHide).hide();
    });
    </script>
    
    <!-- footer -->
    <footer class="footer">
        <div class="social">
            <a href="https://www.facebook.com/Cynergy-180036667042091" class="facebook" title="Facebook"><img src="{% static 'pics/img-footer/icons8-facebook-48.png' %}"
                alt=""></a>
        <a href="https://www.instagram.com/invites/contact/?i=1xih8njqsuwpu&utm_content=kxk5sio" class="instagram" title="Instagram"><img src="{% static 'pics/img-footer/icons8-instagram-50.png' %}"
                alt=""></a>
        <a href="#" class="email" title="Email"><img src="{% static 'pics/img-footer/icons8-email-48.png' %}" ></a>
        <a href="#" class="github" title="Github"><img src="{% static 'pics/img-footer/icons8-github-90.png' %}"
                alt=""></a>

        </div>
        <div id="copy">
            <p class="copy">Copyright © CYNERGY 2021</p>
        </div>
    </footer>



</body>

</html>