<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR ACCOUNT HAS BEEN SUCCESSFULLY CREATED</title>
</head>
<body style="margin: 225px 475px">
    
        <fieldset style="text-align: center; background-color: silver; width: 500px; height: 100px; padding: 50px 50px 100px; border-color: black; border-width: 3px;">
            <h2>YOUR ACCOUNT HAS BEEN SUCCESSFULLY CREATED</h2> 
            <hr>
            <br>
            <a  href="/serviceman/login">CONTINUE</a>
        </fieldset>        
        

</body>
</body>
</html>